.idea/
.tmp/
deployments/

# Generated dir
node_modules/

# Configuration files
.docker*
.eslint*
.git*
.prettier*
.env
.editorconfig
.node-version

# Documentation and Samples
.example.env
README.md
CHANGELOG.md

# Deprecated
storage/

docker-compose.yml
