{
    "APP_PORT": 3000,
    "APP_SECRET": "secret",
    "DATABASE": {
        "username": "root",
        "password": null,
        "database": "humanid",
        "dialect": "sqlite",
        "storage": "db.sqlite"
    }
}