{
    "APP_PORT": 3000,
    "APP_SECRET": "APP_SECRET",
    "AUTHY_API_URL": "https://api.authy.com",
    "AUTHY_API_KEY": "AUTHY_API_KEY",
    "DATABASE": {
        "username": "username",
        "password": "password",
        "database": "humanid",
        "dialect": "sqlite",
        "storage": "db.sqlite"
    }
}